.all-footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  @include desktop {
    align-items: baseline;
    flex-direction: row;
    text-align: left;
  }
}
.footer-tab-wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.address {
  margin-top: 20px;
}
.footer-address {
  @include tablet {
    margin-left: 60px;
  }
  @include desktop {
    margin-left: 0;
    margin-right: 60px;
  }
}
.address-list {
  margin-top: 10px;
}
.address-item:not(:first-child) {
  margin-top: 8px;
}
.address-link {
  font-size: 14px;
  line-height: 1.7;
  color: rgb(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--standart-white);
  }
}
.address-place {
  font-size: 14px;
  line-height: 1.7;
  color: var(--standart-white);
}
.footer-icon {
  margin-top: 60px;

  @include tablet {
    margin-top: 0;
    margin-right: 74px;
  }
  @include desktop {
    margin-right: 92px;
  }
}
.footer-form-wrapper {
  margin-top: 60px;

  @include tablet {
    margin-top: 60px;
  }
}
.footer-form {
  @include desktop {
    display: flex;
    margin-top: 20px;
  }
}
.footer-icon-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-text {
  @include font(700, 14px, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--standart-white);
}
.footer-icon-item {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-icon-link {
  @extend %flex-standart;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--main-color);
  }
}
.footer-icon-img {
  fill: var(--standart-white);
}
.email-footer {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--standart-white);
  padding-left: 16px;
  margin-top: 20px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
    margin-top: 0;
  }
}
.subscribe-btn-footer {
  @extend %flex-standart;
  @include font(700, 16px, 30px);
  padding: 0;
  width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--standart-white);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    margin-top: 0;
  }
}
.footer-icon-btn {
  margin-left: 10px;
}
