.hero {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mob.jpg);
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-mob-2x.jpg);
  }
  background-size: cover;
  background-color: --footer-bg-color;
  padding-top: 118px;
  padding-bottom: 118px;

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img-hero.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img-hero-2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-button {
  display: block;
  @include font(700, 16px, 1.875);
  text-align: center;
  letter-spacing: 0.06em;
  font-family: var(--main-font);
  color: var(--standart-white);
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px 32px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-active-btn);
    cursor: pointer;
  }
}
