.icons-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.icons-list__item {
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}
.img-box {
  display: flex;
  height: 120px;
  background-color: var(--background-gray);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.img-box__icons {
  fill: var(--lite-black);
}
.subtitle {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--second-color);
}

.section-intro {
  display: none;
  padding-top: 0;

  @include desktop {
    display: block;
  }
}
.list-intro-img {
  display: flex;
  gap: 0 30px;
}
.intro-img-item {
  position: relative;
}
.intro-text-overlay {
  @extend %flex-standart;
  @include font(700, 14px, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--standart-white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
