.logo-link {
  display: inline-block;
  @include font(700, 24px, 1.16);
  font-family: var(--logo-font);

  & > .logo-link_color_main {
    color: var(--main-color);
  }

  @include desktop {
    @include font(null, 26px, 1.15);
  }
}
.logo-main {
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    margin-right: 84px;
    padding: 26px 0;
  }
  @include desktop {
    margin-right: 92px;
  }
}
.logo-footer {
  color: var(--standart-white);
  text-align: center;
}
