.hero-title {
  @include font(900, 26px, 1.615);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--standart-white);
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;

  @include desktop {
    @include font(900, 44px, 1.36);
    max-width: 696px;
  }
}
.title {
  @include font(700, 28px, 1.17);
  text-align: center;

  @include desktop {
    @include font(null, 36px, 1.16);
  }
}
.title_margin-b {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
  }
}
