body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--lite-black);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
