:root {
  --main-color: #2196f3;
  --second-color: #757575;
  --standart-white: #ffffff;
  --background-gray: #f5f4fa;
  --poster-bg-color: #eeeeee;
  --clients-and-command-icons: #afb1b8;
  --footer-bg-color: #2f303a;
  --header-line: #ececec;
  --hero-active-btn: #188ce8;
  --lite-black: #212121;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
